#header {
    float: left;
    width: 100%;
    margin-bottom: 35px;
}

#name_section {
    float: left;
    width: 500px;
    padding-top: 25px;
    padding-left: 100px;
}

h1 {
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 71px;
    padding-left: 150px;
}

#menu > div {
    flex: 1 1 auto;
}

#menu > div  a {
    font-size: 1.125em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

#menu > div a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
}

hr {
    margin-top: 100px;
    margin-bottom: 125px;
}

#content {
    float: left;
    width: 100%;
}

#grid_container {
    display: grid;
    grid-template-columns: 900px;
    grid-template-rows: auto auto auto;
    gap: 50px;
    justify-content: center;
}

.grid_item {
    background-color: lightgrey;
    text-align: center;
    padding: 30px;
}

#ex_grid_container {
    display: grid;
    grid-template-columns: 425px 425px;
    grid-template-rows: auto auto auto;
    gap: 50px;
    justify-content: center;
}

#footer {
    margin-top: 100px;
    text-align: center;
}